<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service</title>
</head>
<body>
    <h1>ADD New Customer Details</h1>
    <form action="" method="POST">
        <label for="">NAME:</label>
        <input type="text" name="name" >
        <label for="">AGE:</label>
        <input type="text" name="age" >
        <label for="">GENDER:</label>
        <input type="text" name="gender" >
        <label for="">CITY:</label>
        <input type="text" name="city" >
        <input type="submit" value="save Details">
    </form>
</body>
</html>